language: java

jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk7
  - openjdk6

sudo: false

script: 
  - make clean && make && make test  && ls bin/* && make clean

notifications:
  email:
    - sapk@sapk.fr
