language: java

jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk7
  - openjdk6

sudo: false

script: 
  - javac src/*/*.java
  - cd src && java -Xmx8g -Xms256m test/TestsSocialNetwork

notifications:
  email:
    - sapk@sapk.fr
